.clearfix:before, .clearfix:after {
	content: "";
	display: table;     /*触发bfc,防止外边距合并*/
}
.clearfix:after {
	clear: both;
}
.clearfix {
	*zoom: 1;
}
.w {
	width: 1226px;
	margin: 0 auto;
	overflow: hidden;
}
.c {
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
}
.null {
	height: 50px;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
ul {
	list-style: none;
}
a, blockquote, body, button, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, hr, input, legend, li, ol, p, pre, td, textarea, th, ul {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
	font-size: 12px;
}
@font-face{        /*声明字体*/
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?8qhwk5');
  src:  url('../fonts/icomoon.eot?8qhwk5#iefix') format('embedded-opentype'),
   url('../fonts/icomoon.ttf?8qhwk5') format('truetype'),
   url('../fonts/icomoon.woff?8qhwk5') format('woff'),
   url('../fonts/icomoon.svg?8qhwk5#icomoon') format('svg');
   font-weight: normal;        /*不加粗*/
   font-style: normal;        /* 不倾斜*/
}
input,
button {
	border: 0;
	outline: none;/*        取消轮廓线*/
}
.banner {
	background: url(../images/banner1.jpg) no-repeat 50%;
    background-size: cover;
    background-attachment: fixed;
    padding: 230px 0;
     z-index: 0;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    position: relative;
}
.banner::before {
	content: '';
    z-index: -1;
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.banner-i {
	 z-index: 99;
}
.banner h1 {
	text-align: center;
	font-size: 40px;
	color: #000;
	z-index: 99;
	
}
.banner span {
	display: block;
	margin: 30px auto;
	text-align: center;
	color: #02bdd5;
	z-index: 99;
	font-size: 40px;
	font-weight: 700;
}
.banner p {
	text-align: center;
	display: block;
	width: 800px;
	font-size: 30px;
	color: #fff;
	margin: 30px auto;
	line-height: 60px;
}
.banner a:hover {
	background-color: #fff;
	color: #02bdd5;
}
.header {
	background-color:  #fff;
	width: 100%;
	height: 60px;
	box-shadow: 0 10px 10px rgba(0,0,0,.3);
}
.header ul {
	margin: 0 auto;
	padding-left: 20px;
	height: 80px;
	width: 960px;
}
.header li {
	float: right;
	height: 60px;
	width: 100px;
	text-align: center;
	line-height: 60px;
	margin: 0 20px;
	padding: 0 5px;
}
.header li a {
	display: inline-block;
	color: #555;
	height: 60px;
	font-weight: 700;
	font-size: 16px;
	line-height: 50px;
}
.header li:hover {
	background-color: #02bdd5;
	color: #fff;
}
/********      footer    ****** */
.footer {
	height: 80px;
	width: 100%;
	background-color: #fff;
}
.copyright {
	border-top: 2px solid #ccc;
}
.copyright p {
	color: #fff;
	color: #444;
	text-align: center;
	line-height: 30px;
}
