body{
    width: 100%;
        background-image:url("./back2.jpg");
        background-repeat:no-repeat;
        background-size:100% ;
    }
    .login{
        float:right;
        margin-right:75vh;
        margin-top:15vh;
        opacity:0.7;
        height: 35vh;
        width:50vh;
        background:#3a35356b;
        border-radius: 20px;
    }
    .title{
        font-size:30px;
        text-align:center;
    }
    .biao{
        margin-top:20px;
        font-size:20px;
        text-align:center;
    }